.title {
  font-family: 'Times New Roman', Times, serif;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  background-color: black;
  max-width: 1500px;
  margin: 0 auto; 
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end; 
  justify-content: center;
} 
.towers {
  background-color: red;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  height: 400px;
  min-width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}


#firstBlock {
  background-image: url("wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display:block;
  pointer-events: none;
}
#secondBlock {
  background-image: url("wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display:block;
  pointer-events: none;
}
#thirdBlock {
  background-image: url("wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  display:block;
  pointer-events: none;
}
a {
  text-decoration: none;
  font-size: 2em;
  color: black;
}
.selected{
  border:3px solid green;
}
.winner{
  display:none;
}
